click==8.1.2
click-shell==2.1
grpcio==1.63.0
googleapis-common-protos==1.63.1
grpcio-status==1.62.2
grpcio-tools==1.62.2
gunicorn==20.1.0
kafka-python==2.0.2
nest-asyncio==1.6.0
rich==13.3.2
requests==2.25.0
Flask==2.1.1
Flask-RESTful==0.3.9
sh==1.14.1
kubernetes==29.0.0
