click
click_shell
grpcio
googleapis-common-protos
grpcio-status
grpcio_tools
gunicorn
kafka-python
nest_asyncio
rich
requests
flask
flask-restful
sh
druncschema @ git+https://github.com/DUNE-DAQ/druncschema.git@v0.3.0
kubernetes